body {
  background-image: url('../images/todo1.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}
#heading {
  font-size: 90px;
  font-weight: bolder;
  text-align: center;
  color: white;
  margin-bottom: 10%;
  text-decoration: underline;
}
.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 20%;
  margin: 10% 0px 0px 33%;
}
.input-group-prepend button{
  font-size: 30px;
  font-weight: bolder;
  padding: 0px 40px;
  border-radius: 0.2rem 0.5rem 0.5rem 0.2rem;;
}
.display_section {
  background-color: white;
  font-size: 30px;
  font-weight: bolder;
  padding: 0px 40px;
  width: 40%;
  display: inline-block;
  margin-left: 30%;
  text-align: center;
  margin-top: 5%;
  border: 2px solid black;
  border-radius: 0.2rem 0.5rem 0.5rem 0.2rem;;
}
.col-auto {
  flex: 0 0 auto;
  width: 50%;
  display: inline-block;
}
#task-data li {
  /*list-style-type: circle;*/
  font-size: 15px;
  font-weight: bold;
  text-align: right;
  color: darkgray;
  display: inline-block;
  padding: 10px;
  background-color: #f0f1f1;
  border-radius: 0.5rem;
  border: 1px solid #1c88ab;
  margin: 5px;
}
/*#dis-date {
  margin-left: 100px;
  font-size: 15px;
  font-weight: bold;
  text-align: right;
  color: darkgray;
  display: inline-block;
}*/
/*#edit {
  margin-left: 5%;
}*/
.btn-warning {
  color: white;
}
#span1 {
  margin-right: 30%;
  color: #1b6096;
  font-size: 25px;
  font-weight: bold;
  text-align: left;
  float: left;
}
