body {
  background-image: url('../images/todo1.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}
#heading {
  font-size: 90px;
  font-weight: bolder;
  text-align: center;
  color: white;
  text-decoration: underline;
}
.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 20%;
  margin-top: 10%;
}
.input-group-prepend button{
  font-size: 30px;
  font-weight: bolder;
  padding: 0px 40px;
  border-radius: 0.2rem 0.5rem 0.5rem 0.2rem;;
}

.col-auto {
  flex: 0 0 auto;
  width: 50%;
  display: inline-block;
}

li {
  list-style-type: none;
}

.btn-warning {
  color: white;
}
.btn-success {
  color: #fff;
  background-color: #198754;
  border-color: #198754;
}
.span1 {
  margin-right: 30%;
  color: #1b6096;
  font-size: 25px;
  font-weight: bold;
  text-align: left;
  float: left;
}
.dropdown-item {
  display: block;
  width: 100%;
  font-size: 13px;
  padding: 0.25rem 1rem;
  clear: both;
  font-weight: bold;
  color: #212529;
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}
.todos {
  background-color: white;
  margin-top: 10%;
  font-size: 25px;
  font-weight: bolder;
  border: 2px solid black;
  text-align: center;
  border-radius: 0.5rem;
}
.todo-list {
  font-weight: bold;
  background-color: #f0f1f1;
  margin: 15px;
  font-size: 14px;
  font-weight: bolder;
  color: darkgray;
  padding: 10px 20px;
  border: 2px solid var(--bs-body-color);
  text-align: right;
  border-radius: 0.5rem;
}

#edit {
  margin : 0px 8px;
}
